.THIS .slds-page-header__title.header {
    font-size: 30px;
}

.THIS .label-hidden > label {
    display: none;
}

.THIS .slctOption {
    margin:20px;
}

.THIS .errorBox {
    background : #f2dede;
    
}

.THIS .errHeader {
    color: #cc0000;
}

.THIS .errMsg {
    color: #a94442;
}