.THIS .checkBoxForDays.slds-form-element {
    margin : 19px;
}

.THIS .wrpClass.slds-grid.slds-gutters.slds-wrap {
    margin:9px;
}

.THIS .resourceName.slds-grid.slds-gutters.slds-wrap {
    margin: 19px;
}